<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.inholland.imready">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.ImReadyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.view.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SHARED -->
        <activity
            android:name=".app.view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".app.view.activity.shared.MessagesActivity"
            android:parentActivityName=".app.view.activity.client.ClientHomeActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.NotificationsActivity"
            android:theme="@style/AppTheme.Alt" />

        <!-- CLIENT -->
        <activity
            android:name=".app.view.activity.client.ClientHomeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".app.view.activity.client.ClientBlockDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".app.view.activity.client.ClientHomeActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.client.ClientFutureplanEditActivity"
            android:parentActivityName=".app.view.activity.client.ClientHomeActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.client.ClientComponentEditActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".app.view.activity.client.ClientFutureplanEditActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.client.ClientCaretakersActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".app.view.activity.client.ClientHomeActivity"
            android:theme="@style/AppTheme.Alt" />

        <!-- CAREGIVER -->
        <activity
            android:name=".app.view.activity.caregiver.CaregiverHomeActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.caregiver.ClientDetailActivity"
            android:parentActivityName=".app.view.activity.caregiver.CaregiverHomeActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.caregiver.CaregiverFutureplanOverviewActivity"
            android:parentActivityName=".app.view.activity.caregiver.ClientDetailActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.caregiver.CaregiverFeedbackActivity"
            android:parentActivityName=".app.view.activity.caregiver.CaregiverFutureplanOverviewActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.caregiver.NoteListActivity"
            android:parentActivityName=".app.view.activity.caregiver.ClientDetailActivity"
            android:theme="@style/AppTheme.Alt" />
        <activity
            android:name=".app.view.activity.caregiver.NoteNewActivity"
            android:parentActivityName=".app.view.activity.caregiver.NoteListActivity"
            android:theme="@style/AppTheme.Alt"/>
    </application>

</manifest>