<?xml version="1.0"?>
<connectionStrings>
  <!-- Replace xxx in 'Data Source=xxx' with your own data source/dbinstance name -->
  <add name="DefaultConnection" connectionString="Data Source=xxx;Initial Catalog=ImReady;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
</connectionStrings>
