<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ImReadyApiv2-20171207112848.mdf;Initial Catalog=aspnet-ImReadyApiv2-20171207112848;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
